#define IDI_MYICON 102
#define ID_REMOVER 101

// Icon resource
IDI_MYICON ICON "assets/document.ico"

// Embedded remover executable
#if defined(NDEBUG)
    ID_REMOVER RCDATA "Release/remover.exe"
#else
    ID_REMOVER RCDATA "Debug/remover.exe"
#endif